#about-project-info

  .panel

    -# == About the project - Info - Copyright =================================
    #about-project-info-copyright-wrp
      %p#about-project-info-copyright
        Copyright ©&nbsp
        = Time.now.strftime('%Y')
        %strong= @kb.ask(:author)[:name]
        %em . All rights reserved

    -# == About the project - Info - License ===================================
    #about-project-info-license-wrp
      %p#about-project-info-license
        All of the content is released under the
        %a{ :href => @kb.ask(:website_info)[:license][:website] }
          %span.label= @kb.ask(:website_info)[:license][:name] + ' license'
